<ion-tabs>

    <ion-tab-bar color="success" slot="bottom">
        <ion-tab-button tab="tab1">
            <ion-icon name="chatbox-ellipses-outline"></ion-icon>
            <ion-label>Write message</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab2">
            <ion-icon name="file-tray-full-outline"></ion-icon>
            <ion-label>Last messages</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab3">
            <ion-icon name="heart-circle-outline"></ion-icon>
            <ion-label>Dondate</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>