<ion-header [translucent]="true">
    <ion-toolbar color="success">
        <ion-buttons slot="end">
            <ion-button (click)="fecthData()">
                <ion-icon name="refresh-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Direct Whatsapp - Last messages
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div>
        <ion-searchbar (ionInput)="filterItems($event)"></ion-searchbar>
    </div>
    <div *ngIf="lastMessages">
        <ion-card class="animated flipInX delay-1s" *ngFor="let item of lastMessages; index as i;">
            <ion-item>
                <slot name="start">
                    <ion-button (click)="deleteMessage(i)" color="danger">
                        <ion-icon name="trash-outline"></ion-icon>
                    </ion-button>
                </slot>
                <ion-label class="ion-text-center">
                    {{'+'+item.code}}{{item.phone}}
                </ion-label>
                <slot name="end">
                    <ion-button color="success" (click)="useAgain('+'+''+item.code+''+item.phone)">
                        <ion-icon name="paper-plane-outline"></ion-icon>
                    </ion-button>
                </slot>
            </ion-item>
        </ion-card>
    </div>
    <div *ngIf="lastMessages.length == 0">
        <ion-card class="animated flipInX delay-1s">
            <ion-item button (click)="fecthData()">
                <ion-label>
                    Data no found. Press to refresh...
                </ion-label>
            </ion-item>
        </ion-card>
    </div>
</ion-content>