<ion-header [translucent]="true">
    <ion-toolbar color="success">
        <ion-title>
            Direct Whatsapp - Write message
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-content>
        <ion-card-content>
            <form class="ion-padding" (ngSubmit)="sendmessage()">
                <ion-grid>
                    <ion-row>
                        <ion-col size="3">
                            <ion-item>
                                <ion-input name="code" [(ngModel)]="code" placeholder="CODE"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size="9">
                            <ion-item>
                                <ion-input name="numberphone" [(ngModel)]="numberphone" placeholder="NUMBER"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="12">
                            <ion-textarea placeholder="Enter message" name="message" [(ngModel)]="message"></ion-textarea>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="12">
                            <ion-button type="submit" color="success" expand="block">
                                Open chat
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </form>
        </ion-card-content>
    </ion-content>
</ion-content>