<ion-header [translucent]="true">
    <ion-toolbar color="success">
        <ion-title>
            Donate
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="ion-text-center ion-padding">
        <div>
            <p>
                Hi, you can support me you doing donations with a click
            </p>
        </div>
        <a href="https://www.buymeacoffee.com/jesusktgdev"><img src="https://img.buymeacoffee.com/button-api/?text=Buy me a coffee&emoji=&slug=jesusktgdev&button_colour=2dd36f&font_colour=ffffff&font_family=Cookie&outline_colour=000000&coffee_colour=ffffff"></a>
    </div>
</ion-content>